@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Domine', serif;
  font-size: 1.6rem;
  min-height: 100%;
}

h1 {
  font-size: 12rem;
  text-align: center;
}

h1 > .subtitle {
  display: block;
  font-style: italic;
  font-size: 3.6rem;
}

p {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.4em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80rem;
  margin: 0 auto;
}

.key-combo-tester {
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
  padding: 1.6rem;
  margin-bottom: 4.8rem;
}

.key-combo-tester > .caption {
  font-weight: 300;
  text-align: center;
  margin-top: 1.6rem;
}

.key-combo {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.6em;
  padding: 0.8rem;
  background: #efefef;
  height: 5.8rem;
}

.key-combo:focus {
  outline: #000 solid 0.2rem;
}

.key-combo .join {
  color: #3636ca;
  font-weight: 300;
}

.key-combo .order {
  color: #ca3636;
  font-weight: 300;
}

.key-combo .group {
  color: #36ca36;
  font-weight: 300;
}

.key-combo > .sequence:hover {
  background: rgba(0, 0, 0, 0.1);
}

.key-combo > .sequence > .unit:hover {
  background: rgba(0, 0, 0, 0.1);
}

.key-combo > .sequence > .unit > .key.pressed {
  background: rgba(40, 199, 0, 0.37);
}

.key-combo > .sequence > .unit > .key:hover {
  background: rgba(0, 0, 0, 0.1);
}

.caption {
  
}

